# Include everything the framework requires
# You will automatically get updates for all versions starting with "1.".
rlbot==1.*
rlbot_gui
rlbottraining

# This will cause pip to auto-upgrade and stop scaring people with warning messages
pip

# jsonpickle~=2.1.0
# socketio~=0.2.1
# eventlet~=0.33.0